$background-color: hsl(206, 83%, 93%);
$blue: hsl(218, 71%, 48%);
$blue-dark: hsl(210, 56%, 23%);
$border-color: hsl(213, 22%, 84%);
$card-box-shadow: 0 1rem 7rem 0 rgba(0, 0, 0, 0.35);
$form-box-shadow: 0 2rem 6rem 0 rgba(0, 0, 0, 0.35);
$text-shadow: 0 0.2rem 0.1rem rgb(0, 0, 0);
$input-box-shadow: 0 1rem 2rem -1.3rem rgb(32 56 117);
$font-family-card: "Source Code Pro", monospace;
$font-family-form: "Source Sans Pro", sans-serif;
